* {
    font-size: 16px;
    margin: 0;
    box-sizing: border-box;
    font-family: 'SF Pro Display', sans-serif;
}

html,
body {
    background-color: #fff;
    width: 100%;
    height: 100%;
    background: #FFF;
    box-shadow: 0px 4px 8px rgba(50, 50, 71, 0.06), 0px 4px 4px rgba(0, 0, 0, 0.08);
}

.body-index {
    background: url(./assets/bg.png) no-repeat center fixed;
    background-size: cover;
}

.main,
.lower {
    height: 100%;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

h3 {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    margin-bottom: 52px;
}

h1,
h2,
h3,
button {
    color: #fff;
}

input {
    margin-bottom: 32px;
    width: 350px;
    height: 47px;
    background: #F3F3F3;
    border-radius: 25px;
    padding: 14px 34px;
    outline: 0;
    border: none;
    font-size: 16px;
}

input[type=submit] {
    margin: 0;
    background: #ED361D;
    border-radius: 25px;
    width: 184px;
    height: 47px;
    border: none;
    font-size: 16px;
    color: #fff;
}

a {
    margin: 50%;
    background: #ED361D;
    border-radius: 25px;
    font-size: 16px;
    color: #fff;
    padding: 14px 34px;
}

.down {
    height: 47px;
    /* margin-top: 50px; */
    margin: 50px 20px;
}

.call-action {
    margin: 0;
    background: #ED361D;
    border-radius: 25px;
    width: 184px;
    height: 47px;
    border: none;
    font-size: 16px;
}

.logotipo escuro {
    width: 100%;
    height: 50px;
    display: flex;
}

.logotipo escuro>svg {
    margin-top: 37px;
    margin-left: 151px;
}

.logotipo {
    width: 100%;
    height: 50px;
    display: flex;
}

.logotipo>svg {
    margin-top: 37px;
    margin-left: 151px;
}

button>span {
    display: flex;
    align-items: center;
    justify-content: center;
}

button>span>i {
    margin-left: 13px
}

.header-text {
    margin: 90px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 67px;
    text-align: center;
    color: #ED361D;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form2 {
    align-items: center;
    justify-content: center;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 60px;
}

.img-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 280px;
    background: #fbfbfb;
    box-shadow: 0px 4px 8px rgba(50, 50, 71, 0.06), 0px 4px 4px rgba(0, 0, 0, 0.08);
}

.txt-info {
    max-width: 523px;
    padding-left: 50px;
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: normal;
    line-height: 22px;
    color: #000000;
}

.txt-info>span {
    font-family: SF Pro Display;
    display: block;
    margin-bottom: 5px;
}

.img-tks {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 280px;
}

.txt-tks {
    max-width: 380px;
    height: 265px;
    padding-left: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 32px;
    color: #000000;
}

.txt-tks>span {
    font-family: SF Pro Display;
    display: block;
    margin-bottom: 5px;
}

.last-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.last-form>form>input {
    margin-right: 18px;
}

#title {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: bold;
    line-height: 4.75rem;
    text-align: center;
    font-size: 4rem;
    max-width: 620px;
    margin-bottom: 24px;
}

#subtitle {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 3rem;
    text-align: center;
    margin-bottom: 48px;
}

@media screen and (max-width: 900px) {
    #title,
    .header-text {
        font-size: 3rem;
        margin-bottom: 12px;
        line-height: 3rem;
    }
    #subtitle {
        margin-bottom: 24px;
        line-height: 2.25rem;
    }
    .info {
        flex-direction: column;
        padding: 15px;
    }
    .img-info {
        width: 100%;
        margin-bottom: 10px;
    }
    input {
        width: 100%;
    }
    .last-form>form>input {
        margin-right: 0;
    }
    .form2 {
        display: flex;
        padding: 15px;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: 100%;
    }
    .logotipo {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logotipo>svg {
        margin: 0;
        margin-top: 25px;
    }
}